<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javen.MavenDemo.dao.ExamineMapper">
  <resultMap id="BaseResultMap" type="com.javen.MavenDemo.bean.Examine">
    <id column="que_no" jdbcType="VARCHAR" property="queNo" />
    <id column="test_no" jdbcType="VARCHAR" property="testNo" />
    <result column="exam_time" jdbcType="TIMESTAMP" property="examTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    que_no, test_no, exam_time
  </sql>
  <select id="selectByExample" parameterType="com.javen.MavenDemo.bean.ExamineExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from examine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.javen.MavenDemo.bean.ExamineKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from examine
    where que_no = #{queNo,jdbcType=VARCHAR}
      and test_no = #{testNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.javen.MavenDemo.bean.ExamineKey">
    delete from examine
    where que_no = #{queNo,jdbcType=VARCHAR}
      and test_no = #{testNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.javen.MavenDemo.bean.ExamineExample">
    delete from examine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.javen.MavenDemo.bean.Examine">
    insert into examine (que_no, test_no, exam_time
      )
    values (#{queNo,jdbcType=VARCHAR}, #{testNo,jdbcType=VARCHAR}, #{examTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.javen.MavenDemo.bean.Examine">
    insert into examine
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="queNo != null">
        que_no,
      </if>
      <if test="testNo != null">
        test_no,
      </if>
      <if test="examTime != null">
        exam_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="queNo != null">
        #{queNo,jdbcType=VARCHAR},
      </if>
      <if test="testNo != null">
        #{testNo,jdbcType=VARCHAR},
      </if>
      <if test="examTime != null">
        #{examTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.javen.MavenDemo.bean.ExamineExample" resultType="java.lang.Long">
    select count(*) from examine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update examine
    <set>
      <if test="record.queNo != null">
        que_no = #{record.queNo,jdbcType=VARCHAR},
      </if>
      <if test="record.testNo != null">
        test_no = #{record.testNo,jdbcType=VARCHAR},
      </if>
      <if test="record.examTime != null">
        exam_time = #{record.examTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update examine
    set que_no = #{record.queNo,jdbcType=VARCHAR},
      test_no = #{record.testNo,jdbcType=VARCHAR},
      exam_time = #{record.examTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.javen.MavenDemo.bean.Examine">
    update examine
    <set>
      <if test="examTime != null">
        exam_time = #{examTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where que_no = #{queNo,jdbcType=VARCHAR}
      and test_no = #{testNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.javen.MavenDemo.bean.Examine">
    update examine
    set exam_time = #{examTime,jdbcType=TIMESTAMP}
    where que_no = #{queNo,jdbcType=VARCHAR}
      and test_no = #{testNo,jdbcType=VARCHAR}
  </update>
</mapper>